<h2>My Items</h2>

<div>
  <label for="new-item">Item name: </label>
  <input id="new-item" #itemName />

  <label for="new-item">Item price: </label>
  <input type="number" id="new-item" step="0.01" #itemPrice />

  <label for="new-item">Item quantity: </label>
  <input type="number" id="new-item" step="1" #itemQuantity />

  <!-- clicking button passes values to add -->
  <!-- unhappy with this solution, but we'll see what happens -->
  <button type="button" class="add-button" (click)="add(itemName.value, itemPrice.valueAsNumber, itemQuantity.valueAsNumber); itemName.value=''; itemPrice.value=''; itemQuantity.value='';">
    Add item
  </button>
</div>

<ul class="items">
  <li *ngFor="let item of items">
    <b routerLink="/detail/{{item.id}}">
      <span class="badge">{{item.id}}</span> {{item.name}}
    </b>
      <button type="button" class="delete" title="delete item"
      (click)="delete(item)">x</button>
  </li>
</ul>

<app-code-enter></app-code-enter>