<div *ngIf="item">
  <h2>{{item.name | uppercase}} Details</h2>
  <div><span>id: </span>{{item.id}}</div>
  <div><span>price: </span>{{item.price}}</div>
  <div><span>quantity: </span>{{item.quantity}}</div>
  <div>
    <label for="item-name">Item name: </label>
    <input id="item-name" [(ngModel)]="item.name" placeholder="Item name"/>
  </div>

  <div>
    <label for="item-price">Item price: </label>
    <input id="item-price" [(ngModel)]="item.price" placeholder="Item price" step="0.01" />
  </div>

  <div>
    <label for="item-quantity">Item quantity: </label>
    <input id="item-quantity" [(ngModel)]="item.quantity" placeholder="Item quantity" step="1" />
  </div>

  <button type="button" (click)="goBack()">go back</button>
  <button type="button" (click)="save()">save</button>
</div>